<div id="lobby" class="w-full px-4 py-2 max-w-md mx-auto">
    <div id="lobby-connection"
         class="w-full nm-hole rounded py-1"
         signalr-connect="/lobby-hub">
        <table class="w-full text-center">
            <thead>
            <tr>
                <th>Score</th>
                <th>Player Id</th>
                <th>Game Id</th>
            </tr>
            </thead>
            <tbody
                id="lobby-table-body"
                hx-get="/refresh-lobby"
                hx-trigger="load">
            </tbody>
        </table>
        
        <div id="lobby-updated-hack" signalr-subscribe="lobby-updated"></div>
    </div>
</div>