<div id="lobby" class="w-full px-4 py-2 max-w-md mx-auto">
    <div id="lobby-connection" class="w-full nm-hole rounded py-1">
        <table class="w-full text-center">
            <thead>
            <tr>
                <th>Score</th>
                <th>Player Id</th>
                <th>Game Id</th>
            </tr>
            </thead>
            <tbody
                signalr-subscribe="lobby-updated"
                hx-get="/refresh-lobby"
                hx-trigger="htmx:signalr:message throttle:1s">
            </tbody>
        </table>
    </div>
</div>