@using ConnectFour.Domain

<div id="board" class="w-full px-4 py-2 max-w-md mx-auto">
    <div class="grid grid-cols-7 gap-1">
        @foreach (var i in Enumerable.Range(0, 6))
        {
            if (Board is null)
            {
                @foreach (var j in Enumerable.Range(0, 7))
                {
                    <div class="aspect-square nm-hole rounded" signalr-subscribe="mark-move-@i-@j"></div>
                }
            }
            else
            {
                @foreach (var j in Enumerable.Range(0, 7))
                {
                    @if (Board.Grid[i, j] is PlayerColor.Empty)
                    {
                        <div class="aspect-square nm-hole rounded" signalr-subscribe="mark-move-@i-@j"></div>
                    }
                    else
                    {
                        <Disc Colour="@Board.Grid[i,j]" />
                    }
                }
            }
        }
    </div>
</div>

@code {
    [Parameter] public required Game.Board? Board { get; set; }
}