<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>KGD Connect Four</title>
    <base href="/"/>
    <link rel="icon" type="image/png" href="favicon.ico"/>

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/@@microsoft/signalr@8.0.0/dist/browser/signalr.js"></script>
    <script src="/js/hx-signalr.js"></script>
    
    <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        dialog::backdrop { background: rgb(0 0 0 / 0.5); }
    </style>
     <link rel="stylesheet" href="css/style.css">
    
    <HeadOutlet/>
</head>

<body class="bg-[#e5e5e5] text-[#000000d0]" hx-ext="signalr">
<Routes/>
</body>
</html>