@page "/"
@using ConnectFour.Components.Shared
@using ConnectFour.Models

<div id="game" hx-ext="signalr" signalr-connect="/game-hub">
    <PlayerLabel PlayerId="@_playerId"/>
    <PlayerScore PlayerId="@_playerId"/>
    <Board/>
    <NewGameButtons/>

    <div id="new-game-hack" signalr-subscribe="game-started">
    </div>
    
    <dialog id="notification_dialog" class="px-4 py-4 border-2 rounded max-w-md text-center">
        <div id="game-completed-hack" signalr-subscribe="game-completed" class="p-1 mb-2 pt-0"></div>
        <button autofocus class="p-1 mb-1 w-[40%] border-2 rounded">OK</button>
    </dialog>
    
</div>

<Lobby/>

<script>
    let playerId = sessionStorage.getItem("PlayerId");
    console.log(playerId)
    if (playerId == null) {
        sessionStorage.setItem("PlayerId", "@_playerId.ToString()");
        playerId = "@_playerId.ToString()";
    }
    
    let playerNameDiv = document.getElementById("playerIdValue");
    playerNameDiv.innerText = playerId;
    
    let playerScoreDiv = document.getElementById("player-score-value");
    let hxGetAttribute = playerScoreDiv.getAttribute("signalr-connect");
    playerScoreDiv.setAttribute("hx-get", `/score/${playerId}`);
    
    let lobbyConnectionDiv = document.getElementById("lobby-connection");
    let signalrConnectAttribute = lobbyConnectionDiv.getAttribute("signalr-connect");
    lobbyConnectionDiv.setAttribute("signalr-connect", `/lobby-hub?playerId=${playerId}`);

    let dialog = document.querySelector("#notification_dialog");
    
    let closeButton = document.querySelector("dialog button");
    closeButton.addEventListener("click", () => {
      dialog.close();
    });
    
</script>

@code
{
    private readonly PlayerId _playerId = PlayerId.Create();
}