@page "/"
@using ConnectFour.Components.Shared.Board
@using ConnectFour.Components.Shared.Lobby
@using ConnectFour.Components.Shared.Game
@using ConnectFour.Models

<div id="game" signalr-connect="/game-hub">
    <PlayerLabel PlayerId="@_playerId"/>
    <PlayerScore/>
    <Board/>
    
    <div id="control-panel">
        <div signalr-subscribe="refresh-control-panel"
             hx-trigger="htmx:signalr:message"
             hx-get="/refresh-control-panel"
             hx-vals="js:{playerId: sessionStorage.getItem('PlayerId')}"
             hx-target="#control-panel-buttons">
        </div>
        <div id="control-panel-buttons" hx-disabled-elt="this">
            <NewGameButtons/>
        </div>
        
    </div>

    <div id="new-game-hack" signalr-subscribe="game-started"></div>

    <dialog id="notification_dialog" class="bg-[#e5e5e5] px-4 py-4 rounded max-w-md text-center">
        <div id="game-completed-hack" signalr-subscribe="game-completed" class="p-1 mb-2 pt-0"></div>
        <button autofocus class="p-1 mb-1 w-[40%] nm-hole rounded">OK</button>
    </dialog>

</div>

<Lobby/>

<script>
    let playerId = sessionStorage.getItem("PlayerId");
    console.log(playerId)
    if (playerId == null) {
        sessionStorage.setItem("PlayerId", "@_playerId.ToString()");
        playerId = "@_playerId.ToString()";
    }
    
    let playerNameDiv = document.getElementById("playerIdValue");
    playerNameDiv.innerText = playerId;
   
    let lobbyConnectionDiv = document.getElementById("lobby-connection");
    lobbyConnectionDiv.setAttribute("signalr-connect", `/lobby-hub?playerId=${playerId}`);

    let dialog = document.querySelector("#notification_dialog");
    
    let closeButton = document.querySelector("dialog button");
    closeButton.addEventListener("click", () => {
      dialog.close();
    });
    
</script>

@code
{
    private readonly PlayerId _playerId = PlayerId.Create();
}