@page "/"
@using ConnectFour.Components.Shared.Board
@using ConnectFour.Components.Shared.Lobby
@using ConnectFour.Components.Shared.Game
@using ConnectFour.Models
@using System.Security.Claims
@using ConnectFour.Extensions

<div id="game" signalr-connect="/game-hub">
    <PlayerLabel PlayerId="@PlayerId"/>
    <PlayerScore/>
    <NewBoard/>
    <div signalr-subscribe="refresh-board"
         hx-get="/refresh-board"
         hx-trigger="htmx:signalr:message"
         hx-swap="outerHTML"
         hx-target="#board">
    </div>

    <div id="control-panel">
        <div signalr-subscribe="refresh-control-panel"
             hx-trigger="htmx:signalr:message"
             hx-get="/refresh-control-panel"
             hx-target="#control-panel-buttons">
        </div>
        <div id="control-panel-buttons" hx-disabled-elt="this">
            <NewGameButtons/>
        </div>
    </div>

    <dialog id="notification_dialog" class="bg-[#e5e5e5] px-4 py-4 rounded max-w-md text-center">
        <div signalr-subscribe="game-completed" class="p-1 mb-2 pt-0"></div>
        <button autofocus class="p-1 mb-1 w-[40%] nm-hole rounded">OK</button>
    </dialog>
</div>

<Lobby/>

<script>    
    let dialog = document.querySelector("#notification_dialog");
    
    let closeButton = document.querySelector("dialog button");
    closeButton.addEventListener("click", () => {
      dialog.close();
    });
</script>

@code
{
    [Inject] ClaimsPrincipal? User { get; set; }
    private PlayerId PlayerId => User!.GetPlayerId();
}