@page "/"
@using ConnectFour.Components.Shared.Board
@using ConnectFour.Components.Shared.Lobby
@using ConnectFour.Components.Shared.Game
@using ConnectFour.Models

<div id="game" signalr-connect="/game-hub">
    <PlayerLabel PlayerId="@_playerId"/>
    <PlayerScore/>
    <Board/>
    <div signalr-subscribe="game-started"
         hx-get="/refresh-board"
         hx-trigger="htmx:signalr:message"
         hx-swap="outerHTML"
         hx-target="#board">
    </div>

    <div id="control-panel">
        <div signalr-subscribe="refresh-control-panel"
             hx-trigger="htmx:signalr:message"
             hx-get="/refresh-control-panel"
             hx-vals="js:{playerId: sessionStorage.getItem('PlayerId')}"
             hx-target="#control-panel-buttons">
        </div>
        <div id="control-panel-buttons" hx-disabled-elt="this">
            <NewGameButtons/>
        </div>
    </div>

    <dialog id="notification_dialog" class="bg-[#e5e5e5] px-4 py-4 rounded max-w-md text-center">
        <div signalr-subscribe="game-completed" class="p-1 mb-2 pt-0"></div>
        <button autofocus class="p-1 mb-1 w-[40%] nm-hole rounded">OK</button>
    </dialog>

    <div id="game-url"
         signalr-subscribe="update-url"
         hx-get="/game-url/game-id"
         hx-swap="none"
         hx-trigger="game-url-changed">
    </div>
</div>

<Lobby/>

<script>
    let playerId = sessionStorage.getItem("PlayerId");
    console.log(playerId)
    if (playerId == null) {
        sessionStorage.setItem("PlayerId", "@_playerId.ToString()");
        playerId = "@_playerId.ToString()";
    }
    
    let playerNameDiv = document.getElementById("playerIdValue");
    playerNameDiv.innerText = playerId;
   
    let lobbyConnectionDiv = document.getElementById("lobby-connection");
    lobbyConnectionDiv.setAttribute("signalr-connect", `/lobby-hub?playerId=${playerId}`);

    let dialog = document.querySelector("#notification_dialog");
    
    let closeButton = document.querySelector("dialog button");
    closeButton.addEventListener("click", () => {
      dialog.close();
    });
    
    document.addEventListener('htmx:signalr:message', function(evt) {
        if (evt.detail.method === 'update-url') {
            
            //TODO: Hack until signalR supports headers 
            let gameId = evt.detail.message.gameId;
            sessionStorage.setItem("GameId", gameId);
            let gameUrlDiv = document.getElementById("game-url");
            gameUrlDiv.setAttribute("hx-get", `/game-url/${gameId}`);
            htmx.process(gameUrlDiv);
            htmx.trigger(gameUrlDiv, "game-url-changed");
        }
    });
    
</script>

@code
{
    private readonly PlayerId _playerId = PlayerId.Create();
}