@page "/multi-swap"

<PageTitle>Multi Swap</PageTitle>

<div hx-ext="multi-swap">
    <div hx-get="test-multi" hx-swap="multi:#submenu,#content">Change</div>
    <div id="submenu">... submenu contains items by selected top-level menu ...</div>
</div>

<div id="content">...</div>

<div class="h-[20px]"></div>
<div class="max-w-xs p-8 grid grid-cols-3 gap-2">
    <div class="m-4 h-[50px] w-[50px]">
        <div class="w-full h-full nm-plate rounded-full"></div>
    </div>

    <div class="m-4 h-[50px] w-[50px]">
        <div class="flex w-full h-full nm-plate rounded-full">
            <div class="w-[60%] h-[60%] nm-flat m-auto rounded-full"></div>
        </div>
    </div>

    @* kwadrat *@
    <div class="m-4 h-[50px] w-[50px]">
        <div class="flex w-full h-full nm-hole rounded">
            <div class="w-[60%] h-[60%] nm-flat m-auto rounded"></div>
        </div>
    </div>

    @* kolko *@
    <div class="m-4 h-[50px] w-[50px]">
        <div class="flex w-full h-full nm-hole rounded">
            <div class="w-[70%] h-[70%] nm-flat m-auto rounded-full"></div>
        </div>
    </div>

    @* pasek *@
    <div class="m-4 h-[50px] w-[50px]">
        <div class="flex w-full h-full nm-hole rounded">
            <div class="w-[80%] h-[40%] nm-flat m-auto rounded"></div>
        </div>
    </div>

    @* plus *@
    <div class="m-4 h-[50px] w-[50px]">
        <div class="flex w-full h-full nm-hole rounded">
            <div class="flex before:bg-[#e5e5e5] after:bg-[#e5e5e5] m-auto w-[90%] h-[90%] cross before:rounded after:rounded"></div>
        </div>
    </div>
</div>
<div class="h-[20px]"></div>