<div id="lobby" class="w-full px-4 py-2 max-w-md mx-auto">
    <div id="lobby-connection"
         class="w-full border-2 rounded"
         hx-ext="signalr"
         signalr-connect="/lobby-hub">
        <table class="w-full text-center">
            <thead>
            <tr>
                <th class="border-r-2">Score</th>
                <th class="border-r-2">Player Id</th>
                <th>Game Id</th>
            </tr>
            </thead>
            <tbody hx-get="/refresh-lobby"
                   hx-headers='js:{playerId: sessionStorage.getItem("PlayerId")}'
                   hx-trigger="load, every 2s">
            </tbody>
        </table>
    </div>
</div>