@using ConnectFour.Persistence
@using System.Collections.Concurrent
@using ConnectFour.Models

<tr id="@PlayerId.ToString()">
    <td class="border-r-2">@Score.ToString()</td>
    <td class="border-r-2">@PlayerId</td>
    @if (GameId is null)
    {
        <td>...</td>
    }
    else
    {
        <td>@GameId</td>
    }
</tr>

@code {

    [Parameter]
    public required PlayerId PlayerId { get; set; }

    [Parameter]
    public required GameId? GameId { get; set; }

    [Parameter]
    public required Score Score { get; set; }

}