@using ConnectFour.Models
<div id="player-score" class="w-full px-4 py-2 text-center max-w-md mx-auto">
    <div id="player-score-value"
         class="text-2xl nm-hole rounded py-2"
         hx-get="score/"
         hx-trigger="load, every 2s">
        0 / 0 / 0
    </div>
</div>

<script>

</script>

@code {

    [Parameter]
    public PlayerId PlayerId { get; set; }

}