@using ConnectFour.Models

<div class="p-1 mb-2 pt-0">Resignation, player @PlayerId.ToString() won!</div>

<script>
notification_dialog.showModal();
</script>

@code { [Parameter] public required PlayerId PlayerId { get; set; } }