@using ConnectFour.Persistance
@inherits LayoutComponentBase

<div class="page">
    <div class="flex w-full px-4 pb-2 pt-4 max-w-md mx-auto">
        <NavMenu/>
    </div>

    <main>
        <div id="score" class="w-full px-4 py-2 text-center max-w-md mx-auto">
            <div class="text-2xl border-2 rounded py-2"> 0 / 0 / 0 </div>
        </div>
        <div id="board" class="w-full px-4 py-2 max-w-md mx-auto">
            @Body
        </div>

        <div id="actions"
             class="flex w-full px-4 py-2 columns-1 max-w-md mx-auto"
             hx-vals='{"UserId": "@UserId.Create().Value"}'
             hx-post="/new-game"
             hx-swap="none">
            <div class="p-1 w-full border-2 rounded text-center">
                New Game
            </div>
        </div>
        <div class="w-full px-4 py-2 max-w-md mx-auto" hx-ext="signalr" signalr-connect="/lobby-hub">
            <table class="w-full border-2 rounded text-center">
                <thead>
                <tr>
                    <th class="border-r-2">Player Id</th>
                    <th>Game Id</th>
                </tr>
                </thead>
                <tbody hx-get="/refresh-lobby" hx-trigger="sse:lobby-update">
                    
                </tbody>
            </table>
        </div>
    </main>
</div>

@* TODO *@
@* hx-trigger="every 5s" *@
@* <div id="blazor-error-ui"> *@
@*     An unhandled error has occurred. *@
@*     <a href="" class="reload">Reload</a> *@
@*     <a class="dismiss">🗙</a> *@
@* </div> *@