@using ConnectFour.Models
@inherits LayoutComponentBase

<div id="page" class="page">
    <div class="flex w-full px-4 pb-2 pt-4 max-w-md mx-auto">
        <NavMenu/>
    </div>

    <main>

        <div id="game" hx-ext="signalr" signalr-connect="/game-hub">
            <div id="playerId" class="w-full px-4 py-2 text-center max-w-md mx-auto">
                <div id="playerIdValue" class="text-2xl border-2 rounded py-2"> @_playerId </div>
            </div>
            <div id="score" class="w-full px-4 py-2 text-center max-w-md mx-auto">
                <div id="scoreValue" class="text-2xl border-2 rounded py-2"> 0 / 0 / 0 </div>
            </div>

            <div id="board" class="w-full px-4 py-2 max-w-md mx-auto">
                @Body
            </div>
            
            <div id="new-game-button" class="flex w-full px-4 py-2 columns-1 max-w-md mx-auto">
                <div class="p-1 w-full border-2 rounded text-center"
                     signalr-send="newGame"
                     hx-vals='js:{playerId: sessionStorage.getItem("PlayerId")}'>
                    New Game
                </div>
            </div>

            <div id="new-game-hack" signalr-subscribe="game-started"></div>
            <div id="game-completed" signalr-subscribe="game-completed"></div>
        </div>
        
        <div id="lobby" class="w-full px-4 py-2 max-w-md mx-auto">
            <div id="lobby-connection" 
                class="w-full border-2 rounded"
                 hx-ext="signalr"
                 signalr-connect="/lobby-hub">
                <table class="w-full text-center">
                    <thead>
                    <tr>
                        <th class="border-r-2">Score</th>
                        <th class="border-r-2">Player Id</th>
                        <th>Game Id</th>
                    </tr>
                    </thead>
                    <tbody hx-get="/refresh-lobby"
                           hx-headers='js:{playerId: sessionStorage.getItem("PlayerId")}'
                           hx-trigger="load, every 2s">
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script>
    let playerId = sessionStorage.getItem("PlayerId");
    console.log(playerId)
    if (playerId == null) {
        sessionStorage.setItem("PlayerId", "@_playerId.ToString()");
        playerId = "@_playerId.ToString()";
    }
    
    let playerNameDiv = document.getElementById("playerIdValue");
    playerNameDiv.innerText = playerId;
    let lobbyConnectionDiv = document.getElementById("lobby-connection");
    let signalrConnectAttribute = lobbyConnectionDiv.getAttribute("signalr-connect");
    lobbyConnectionDiv.setAttribute("signalr-connect", `/lobby-hub?playerId=${playerId}`);
</script>

@code
{
    private readonly PlayerId _playerId = PlayerId.Create();
}

@* TODO *@
@* <div id="blazor-error-ui"> *@
@*     An unhandled error has occurred. *@
@*     <a href="" class="reload">Reload</a> *@
@*     <a class="dismiss">🗙</a> *@
@* </div> *@