@inherits LayoutComponentBase

<div class="page">
    <div class="flex w-full px-4 pb-2 pt-4 max-w-md mx-auto">
        <NavMenu/>
    </div>

    <main id="body">
        @Body
    </main>
</div>



@* TODO *@
@* <div id="blazor-error-ui"> *@
@*     An unhandled error has occurred. *@
@*     <a href="" class="reload">Reload</a> *@
@*     <a class="dismiss">🗙</a> *@
@* </div> *@