<div class="flex w-full text-center nm-hole rounded">
    <div class="text-2xl py-2 px-4" hx-get="/refresh-board" hx-target="#board" hx-swap="outerHTML">
        Connect Four
    </div>
    <nav class="flex ml-auto">
        <div class="p-1 m-auto max-h-10 aspect-square">
            <img src="moon.svg" alt="dark-mode" class="opacity-80"/>
        </div>
        <div class="p-1 mr-2 m-auto max-h-10 aspect-square">
            <img src="burger-menu.svg" alt="menu" class="opacity-80"/>
        </div>
    </nav>
</div>

