<div class="flex w-full px-4 py-2 columns-1 max-w-md mx-auto"
     signalr-subscribe="show-indicator"
     hx-swap="outerHTML">
    <div class="text-2xl py-2 w-full nm-hole rounded text-center"
         hx-post="/new-game"
         hx-disabled-elt="this">
        New Game
    </div>
</div>